@primary-colour: #eb531c;
@dark-grey: #171717;
@light-grey: #cbcbcb;
#content{
    margin-top:50px !important;
    padding-top: 0.5em !important;
    height: calc(100vh - 50px);
    overflow-y: auto;
    text-align: center;
}
#navBar{
    background-color: #eb531c;
    max-height: 50px !important;
}
.white-text{
    color:white;
}

#search{
margin: auto;
padding: 5px;
}
