    <div class="ui middle aligned center aligned grid">
  <div class="column login-column">
    <h2 class="ui image header">
      <div class="content">
        <img class="ui small image" src="../images/keepmeup-logo.png">       
      </div>
    </h2>
    <form action="" method="get" class="ui large form">
        <h2>Add an account with us!</h2>
        <div class="field">
          <div class="ui input">
            <input type="text" name="reddit username" placeholder="reddit account ">
          </div>
        </div>
        <div class="field">
          <div class="ui input">
            <input type="text" name="instagram username" placeholder="instagram account">
          </div>
        </div>
            <div class="field">
          <div class="ui input">
            <input type="text" name="twitter username" placeholder="instagram account">
          </div>
            </div>
        <div class="ui fluid large submit button">Find account</div>
      

      <div class="ui error message"></div>

    </form>

    
