    <div class="ui middle aligned center aligned grid">
  <div class="column login-column">
    <h2 class="ui image header">
      <div class="content">
        <img class="ui small image" src="../images/keepmeup-logo.png">       
      </div>
    </h2>
    <form action="" method="get" class="ui large form">
        <div class="field">
          <div class="ui input">
            <input type="text" name="email" placeholder="E-mail ">
          </div>
        </div>
        <div class="field">
          <div class="ui input">
            <input type="password" name="password" placeholder="Password">
          </div>
        <div class="ui fluid large submit button">Login</div>
      </div>

      <div class="ui error message"></div>

    </form>

    <div class="ui message">
      New to us? <a href="">Register</a>
    </div>
  </div>
</div>