<div class="ui middle aligned center aligned grid">
<div class="column login-column">
<h2 class="ui image header">
  <div class="content">
    <img class="ui small image" src="../images/keepmeup-logo.png">
  </div>
</h2>
<form action="" method="get" class="ui large form">
    <div class="field">
        <div class="ui message">
          Forget Password? <a href="">Reset</a>
      <div class="ui input">
        <input type="text" name="email" placeholder="E-mail ">
      </div>
    </div>
  </div>
    <button type="button">Reset Password</button>
 

  <div class="ui error message"></div>

</form>

</div>
</div>
